# proxy와 app을 연결하는 방법을 알아보자!

services: # 서비스(컨테이너) 목록
  proxy: # 프록시 서비스  
    image: nginx # Nginx 이미지 사용
    ports: # 포트 매핑
      - "80:80" # 내 컴퓨터 포트 : 도커 안 포트
    depends_on:  # 이게 켜져야 나도 켜질 거야
      - app # app 서비스 의존
    volumes: # 볼륨 매핑
      - ./nginx.conf:/etc/nginx/nginx.conf # 내 파일 : 도커 안 파일
  
  app:  # 두 번째 프로그램 (실제 웹사이트 역할)
    image: nginxdemos/hello # Nginx 이미지 사용
    ports: # 포트 매핑
      - "8080:80" # 내 컴퓨터 포트 : 도커 안 포트
